version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      dev-dependencies:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
      testing:
        patterns:
          - "@testing-library/*"
          - "jest*"
          - "@playwright/*"

  - package-ecosystem: "npm"
    directory: "/examples/docusaurus-v3"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
